*{
    margin: 0px;
    padding: 0px;

}
.ac_main{
    height: 90vh;
    width: 100%;
    background-color: black;
}
.ac_heading{
    height: 15vh;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.ac_heading h1{
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: blue;
}
.ac_content{
    height: 75vh ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ac_ind_cards{
    height: 60vh;
    width: 50vh;
    background-color: rgb(27, 26, 26);
    border-radius: 40px;
    overflow: hidden;
    text-align: center;

}
.ac_ind_cards:hover{
    background-color: rgba(65, 63, 63, 0.844);
}
.ac_ind_cards img{
    height: 30vh;
    width: 100%;
}
.ac_ind_cards h1{
    margin: 10px;
    font-size: 30px;
    text-transform: capitalize;
    color: cyan;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.ac_ind_cards p{
    margin: 20px;
    font-size: 16px;
    text-transform: lowercase;
    color: white;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
.ac_ind_cards button{
    height: 50px;
    width: 180px;
    background-color: rgb(102, 102, 226);
    font-size: 40px;
    color: white;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}